<!doctype html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/4.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<body>
    {% include 'base/nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-4">
                {% include 'auth/message.html' %}
            </div>
        </div>
        {% block content %} {% endblock %}
    </div>

    <script src="https://use.fontawesome.com/6416b786ad.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>