{% extends 'base/base.html' %}
{% load static %}

  {% block title %}Home{% endblock %}



    {% block content %}
<div class="row">
  <div class="col-md-8 offset-2 mt-3">
    <img  style="transform: skewY(-4deg);" src="{% static 'img/pets6.png'%}"  height="270" alt="">
    <div style="margin-top:16px;font-size:30px;font-weight:bold;text-align:center;color:#71C671;">
       WELCOME TO <br> <span style="color:#388E8E;font-size:30px;">petclinic</span> <br><img src="{% static 'img/dj3.png'%}" height="20" alt="">projets</div>
  </div>
  <div class="col-md-2">

  </div>
</div>
    {% endblock %}











