{% extends "base/base.html" %} {% block content %}
<br>
<br>
<h3 style="text-align:center;color:#5A6268;">Reset Password Page</h3>
<hr style="margin-bottom:30px; border: 0;height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85,85,85), rgba(0, 0, 0, 0));">
<div class="col-sm-4 offset-4">
    <form method="POST" action="{% url 'password_reset' %}">{% csrf_token %} {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Problem ! try again</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {{ form.as_p }}
        <input type="submit" value="Password Reset" class="btn  btn-secondary">
    </form>
</div>
{% endblock %}