{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %}
<br>
<br>
<h3 style="text-align:center;color:#5A6268;">Reset Password</h3>
<hr style="margin-bottom:30px; border: 0;height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85,85,85), rgba(0, 0, 0, 0));">
<div class="col-md-4 offset-4">
    <form method="POST"> {% csrf_token %} {{ form|crispy}}

        <input type="submit" value=" Reset Password" class="btn  btn-secondary">
    </form>
</div>
{% endblock %}