{% extends 'base/base.html' %} {% load static %} {% block title %} Register {% endblock %} {% block content %}

<div class="row">
    <div class="col-md-4  mt-3">
        <img style="transform: skewY(-4deg);" src="{% static 'img/pets6.png'%}" height="270" alt="">
        <div class="home-title">WELCOME TO
            <br> <img src="{% static 'img/dj3.png'%}" alt=""> PETCLINIC </div>
    </div>
    <div class="col-sm-4 offset-2 mt-4">
        <h3 style="text-align:center;color:#5A6268;">Register an account</h3>
        <hr style="margin-bottom:30px; border: 0;height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85,85,85), rgba(0, 0, 0, 0));">
        <form method="post" action="{% url 'register' %}">{% csrf_token %} {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Problem ! try again</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %} {{ form.as_p }}
            <input type="submit" value="Sign Up" class="btn  btn-block  btn-secondary">
        </form>
    </div>
</div>
{% endblock %}