{% extends 'base/base.html' %}
{% load static %}

  {% block title %} Update {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4  mt-3">
        <img  style="transform: skewY(-4deg);" src="{% static 'img/pets6.png'%}"  height="270" alt="">
        <div style="margin-top:16px;font-size:30px;font-weight:bold;text-align:center;color:#71C671;">
           WELCOME TO <br> <span style="color:#388E8E;font-size:30px;">petclinic</span> <br><img src="{% static 'img/dj3.png'%}" height="20" alt="">projets</div>
    </div>
    <div class="col-sm-4 offset-2 mt-4">
       <h3 style="text-align:center;color:#5A6268;">Update your account</h3>
        <hr style="margin-bottom:30px; border: 0;height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  rgba(85,85,85), rgba(0, 0, 0, 0));">
          <form method="post" action="{% url 'register_update' %}">{% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <button type = "button" class="close" data-dismiss = "alert">x</button>
                        <p>Problem ! try again  </p>
                    </div>
                {% endif %}
            {{ form.as_p }}
              <input type="submit" value="Update" class="btn  btn-block  btn-secondary">
          </form>
        </div>
    </div>
{% endblock %}